
.hero-img img {
    min-height: 15rem;
}

// wrapper item 

.hero-img {
    grid-column: 1 / -1;
}

.hero-text-container {
    gap: 2rem;
}

@media (min-width: 48em) {

    .page-wrapper.section-hero {
        align-items: center;
    }

    // wrapper item

    .hero-img,
    .hero-text-container {
        grid-row: 1 / -1;
    }

    .hero-img {
        grid-column: 1 / span 8;

        z-index: -1;
    }

    .hero-text-container {
        grid-column: 8 / span 6;
    }

}

@media (min-width: 75em) {

    .section-hero::before {
        width: 100%;
        height: 100%;

        content: '';

        grid-row: 1 / -1;
        grid-column: 1 / span 5;
        z-index: -1;

        background-color: var(--clr-black);
    }

    // wrapper item 

    .hero-img {
        grid-column: 5 / span 6;
        z-index: 1;
    }

    .hero-text-container {
        grid-column: 2 / span 12;
        grid-template-columns: subgrid;
        row-gap: 4rem;
        z-index: 2;

        margin-bottom: 7.75rem;
    }

    // text

    .hero-title {
        width: 100%;
        grid-column: 1 / span 6;
        grid-row: 1 / 3;

        color: transparent;
        background: linear-gradient(
                to right, 
                var(--clr-white) calc(50% + (var(--gap) / 2)), 
                var(--clr-black) calc(50% - (var(--gap) / 2))
            );
        -webkit-background-clip: text;
        background-clip: text;
    }

    .hero-text,
    .hero-location-link {
        grid-column: 9 / -1;
    }

}