@font-face {
    font-family: Outfit;
    font-display: swap;
    font-weight: 100 900;
    src: url(../assets/fonts/Outfit/Outfit-VariableFont_wght.ttf) 
         format('truetype');
}

@font-face {
    font-family: BigShouldersDisplay;
    font-display: swap;
    font-weight: 100 900;
    src: url(../assets/fonts/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf) 
         format('truetype');
}

:root {
    --clr-brown: #D5966C;
    --clr-black: #151515;
    --clr-white: #FFFFFF;
    --clr-dark-gray: #444444;

    --font-main: Outfit, 'sans-serif';
    --font-heading: BigShouldersDisplay, 'sans-serif';
}

body {
    font-family: var(--font-main);
    color: var(--clr-dark-gray);
}

// grid container

.page-wrapper {
    --page-padding: 1rem;

    display: grid;
    align-content: start;
    grid-template-columns: var(--page-padding) auto var(--page-padding);
    row-gap: 2rem;
}

.wrapper-item {
    grid-column: 2 / 3;

    display: grid;
    align-content: start;
    justify-items: start;
}

// Links

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.6em;
    background-color: var(--clr-black);
    text-decoration: none;
}

.link,
.link-arrow {
    transition: background-color .3s;
}

.link p {
    padding: 0 1.6em;

    color: var(--clr-white);
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 0.182em;
    text-transform: uppercase;
}

.link-arrow {
    padding: 0 .8em;
    height: 100%;

    background-color: var(--clr-brown);
    object-fit: none;
}

.link:hover,
.link:focus {
    background-color: var(--clr-brown);
}

.link:hover .link-arrow,
.link:focus .link-arrow {
    background-color: var(--clr-black);
}