// lazy load

.lazy-img { // img container
    position: relative;
    background-size: cover;
    background-position: center;
}

.lazy-img img {
    width: 100%;
    height: 100%;
}

.lazy-img img {
    object-fit: cover;
}

.lazy-img.loaded > picture {
    opacity: 1;
}

.lazy-img > picture {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.lazy-img::before {
    position: absolute;
    content: '';
    inset: 0;
    opacity: 0;
    animation: pulse 2.5s infinite ease-in-out;
    background-color: rgba(255, 255, 255, 1);
}

.lazy-img.loaded::before {
    content: none;
}

@keyframes pulse {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 0;
    }
}